html {
    background-color: rgb(217, 255, 225);
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
body{
    display:grid;
    align-items: vertical; 
    justify-content: center; 
}
#header-img {
    height: 250px;
    width: 1024px;
    border-radius: 5px;
    margin: 10px;
    
}
.contect-info {
    border-top: 10px solid green;
    margin: 10px;
    border-radius: 5px;
    width: 1024px;
    min-height: fit-content;
    background-color: white;
    border-bottom: 10px solid white;
    
}

.name {
    margin: 10px;
    border-radius: 5px;
    width: 1024px;
    min-height: fit-content;
    background-color: white;
    border-bottom: 10px solid white;
}
.email {
    margin: 10px;
    border-radius: 5px;
    width: 1024px;
    min-height: fit-content;
    background-color: white;
    border-bottom: 10px solid white;
}
.address {
    margin: 10px;
    border-radius: 5px;
    width: 1024px;
    min-height: fit-content;
    background-color: white;
    border-bottom: 10px solid white;
}
.phone {
    margin: 10px;
    border-radius: 5px;
    width: 1024px;
    min-height: fit-content;
    background-color: white;
    border-bottom: 10px solid white;
}
.comments {
    margin: 10px;
    border-radius: 5px;
    width: 1024px;
    min-height: fit-content;
    background-color: white;
    border-bottom: 10px solid white;
}
.btn {
    margin: 10px;
    width: 1024;
}
button {
    
    width: 80px;
    height: 40px;
    border-radius: 5px;
}
#clear-form {
    margin-left: 825px;
    color: green;
}
.footer {
    width: 1024px;
    margin: 10px;
    text-align: center;
}